### PANDAS FOR DATA ANALYST

In [3]:
#Import pandas dulu

import pandas as pd

# Kemudian melakukan loading data
# Bisa berupa csv, excel, pdf, ppt, dll.
# File yang ingin di import harus di tempatkan di tempat yang sama dengan script kita

# pd.read_<'jenis data apa nanti yang ingin dimasukan'>
df = pd.read_csv('teams.csv')
# Bisa juga hanya di read seperti ini pd.read_csv('teams.csv')

# df.head() # Untuk mengambil sampel sebanyak <yang ditaruh di dalam invoke> dari data teratas
# df.tail() # Untuk mengambil sampel sebanyak <yang ditaruh di dalam invoke> dari data terakhir
# df.info() # Untuk mengetahui info dari tabel yang sudah kita masukin
# df.shape() # Untuk memberitahu jumlah rows dan column dalam bentuk tuple ex : (256, 5)
# df.describe() # Untuk menampilkan ststistik descriptive (untuk keperluan statistik)
# df.column() # Untuk mengetahui semua column di tabel dalam bentuk list [nama, bahasa, agama]
# df.index() # Akan memberitahu angka index dari awal hingga terakhir
# df.types() # Untuk mengetahui jenis data dari masing-masing rows

# df.isnull() # Untuk cek missing value (memberikan data output True/False) Jika True = data hilang
# df.nunique() # Untuk melihat jumlah data unique pada setiap rows
# df.value_counts() # Untuk melihat berapa banyak data count dalam 1 rows

##### Sorting (DATA MANIPULATION)

In [5]:
df.sort_values(by='id') # Sort berdasarkan id --> defaultnya ascending
# parameter sort_valuesnya banyak, bisa lihat di https://pandas.pydata.org/pandas-docs/version/2.0/reference/api/pandas.DataFrame.sort_values.html
df.sort_values(by=['id','conference']) # Untuk multiple sort bisa menggunakan list
df.sort_values(by=['id','conference'], ascending=[True, False]) # Untuk set multiple asc/desc

df_sort = df.sort_values(by=['id','conference'], ascending=[True, False])

,division,conference,school_name,roster_url,id
0,FBS (Division I-A Teams),American Athletic,Cincinnati,http://espn.go.com/ncf/teams/roster?teamId=2132,1
1,FBS (Division I-A Teams),American Athletic,Connecticut,http://espn.go.com/ncf/teams/roster?teamId=41,2
2,FBS (Division I-A Teams),American Athletic,Houston,http://espn.go.com/ncf/teams/roster?teamId=248,3
3,FBS (Division I-A Teams),American Athletic,Louisville,http://espn.go.com/ncf/teams/roster?teamId=97,4
4,FBS (Division I-A Teams),American Athletic,Memphis,http://espn.go.com/ncf/teams/roster?teamId=235,5
...,...,...,...,...,...
247,FCS (Division I-AA Teams),SWAC,Jackson State,http://espn.go.com/ncf/teams/roster?teamId=2296,248
248,FCS (Division I-AA Teams),SWAC,Mississippi Valley State,http://espn.go.com/ncf/teams/roster?teamId=2400,249
249,FCS (Division I-AA Teams),SWAC,Prairie View A&M,http://espn.go.com/ncf/teams/roster?teamId=2504,250
250,FCS (Division I-AA Teams),SWAC,Southern University,http://espn.go.com/ncf/teams/roster?teamId=2582,251
251,FCS (Division I-AA Teams),SWAC,Texas Southern,http://espn.go.com/ncf/teams/roster?teamId=2640,252

In [11]:
df.division # Menampilkan seluruh row dalam 1 column
new_df = df[['division','conference','id']] # Menampilkan seluruh column dalam 1 row
new_df

                      division         conference   id
0     FBS (Division I-A Teams)  American Athletic    1
1     FBS (Division I-A Teams)  American Athletic    2
2     FBS (Division I-A Teams)  American Athletic    3
3     FBS (Division I-A Teams)  American Athletic    4
4     FBS (Division I-A Teams)  American Athletic    5
..                         ...                ...  ...
247  FCS (Division I-AA Teams)               SWAC  248
248  FCS (Division I-AA Teams)               SWAC  249
249  FCS (Division I-AA Teams)               SWAC  250
250  FCS (Division I-AA Teams)               SWAC  251
251  FCS (Division I-AA Teams)               SWAC  252

[252 rows x 3 columns]

In [12]:
# Access row .iloc[] (menampilkan 1 row data di column <yang kita mau>)
new_df.iloc[247]

division      FCS (Division I-AA Teams)
conference                         SWAC
id                                  248
Name: 247, dtype: object

In [13]:
# Acess 1 row tapi multiple column
new_df.iloc[0:5]

                   division         conference  id
0  FBS (Division I-A Teams)  American Athletic   1
1  FBS (Division I-A Teams)  American Athletic   2
2  FBS (Division I-A Teams)  American Athletic   3
3  FBS (Division I-A Teams)  American Athletic   4
4  FBS (Division I-A Teams)  American Athletic   5

In [15]:
new_df2 = df.set_index('school_name') # Untuk mengganti index menjadi apa yang kita mau
new_df2

,division,conference,roster_url,id
school_name,,,,
Cincinnati,FBS (Division I-A Teams),American Athletic,http://espn.go.com/ncf/teams/roster?teamId=2132,1
Connecticut,FBS (Division I-A Teams),American Athletic,http://espn.go.com/ncf/teams/roster?teamId=41,2
Houston,FBS (Division I-A Teams),American Athletic,http://espn.go.com/ncf/teams/roster?teamId=248,3
Louisville,FBS (Division I-A Teams),American Athletic,http://espn.go.com/ncf/teams/roster?teamId=97,4
Memphis,FBS (Division I-A Teams),American Athletic,http://espn.go.com/ncf/teams/roster?teamId=235,5
...,...,...,...,...
Jackson State,FCS (Division I-AA Teams),SWAC,http://espn.go.com/ncf/teams/roster?teamId=2296,248
Mississippi Valley State,FCS (Division I-AA Teams),SWAC,http://espn.go.com/ncf/teams/roster?teamId=2400,249
Prairie View A&M,FCS (Division I-AA Teams),SWAC,http://espn.go.com/ncf/teams/roster?teamId=2504,250
Southern University,FCS (Division I-AA Teams),SWAC,http://espn.go.com/ncf/teams/roster?teamId=2582,251
Texas Southern,FCS (Division I-AA Teams),SWAC,http://espn.go.com/ncf/teams/roster?teamId=2640,252

In [16]:
new_df2.loc['Connecticut':'Memphis']

,division,conference,roster_url,id
school_name,,,,
Connecticut,FBS (Division I-A Teams),American Athletic,http://espn.go.com/ncf/teams/roster?teamId=41,2
Houston,FBS (Division I-A Teams),American Athletic,http://espn.go.com/ncf/teams/roster?teamId=248,3
Louisville,FBS (Division I-A Teams),American Athletic,http://espn.go.com/ncf/teams/roster?teamId=97,4
Memphis,FBS (Division I-A Teams),American Athletic,http://espn.go.com/ncf/teams/roster?teamId=235,5

#### FILTERING DATA

In [18]:
df[df.conference == 'American Athletic']
# Untuk filter suatu df dengan satu kondisi (di kasus ini misalnya ingin menampilkan conference yang american athletic aja)

,division,conference,school_name,roster_url,id
0,FBS (Division I-A Teams),American Athletic,Cincinnati,http://espn.go.com/ncf/teams/roster?teamId=2132,1
1,FBS (Division I-A Teams),American Athletic,Connecticut,http://espn.go.com/ncf/teams/roster?teamId=41,2
2,FBS (Division I-A Teams),American Athletic,Houston,http://espn.go.com/ncf/teams/roster?teamId=248,3
3,FBS (Division I-A Teams),American Athletic,Louisville,http://espn.go.com/ncf/teams/roster?teamId=97,4
4,FBS (Division I-A Teams),American Athletic,Memphis,http://espn.go.com/ncf/teams/roster?teamId=235,5
5,FBS (Division I-A Teams),American Athletic,Rutgers,http://espn.go.com/ncf/teams/roster?teamId=164,6
6,FBS (Division I-A Teams),American Athletic,South Florida,http://espn.go.com/ncf/teams/roster?teamId=58,7
7,FBS (Division I-A Teams),American Athletic,Southern Methodist,http://espn.go.com/ncf/teams/roster?teamId=2567,8
8,FBS (Division I-A Teams),American Athletic,Temple,http://espn.go.com/ncf/teams/roster?teamId=218,9
9,FBS (Division I-A Teams),American Athletic,UCF,http://espn.go.com/ncf/teams/roster?teamId=2116,10

In [19]:
df[(df.conference == 'American Athletic') & (df.school_name == 'Memphis')]
# Untuk filter suatu df dengan multiple kondisi (contoh conference dan school_name)

,division,conference,school_name,roster_url,id
4,FBS (Division I-A Teams),American Athletic,Memphis,http://espn.go.com/ncf/teams/roster?teamId=235,5

In [20]:
# Where name = 'xxx' and age = 123
df.query("conference == 'American Athletic' and school_name == 'Memphis'")

,division,conference,school_name,roster_url,id
4,FBS (Division I-A Teams),American Athletic,Memphis,http://espn.go.com/ncf/teams/roster?teamId=235,5

In [23]:
# menampilkan data pada suatu nama sekolah spesifik di satu column
df[df.school_name.isin(['Cincinnati', 'Rutgers', 'Temple'])]

,division,conference,school_name,roster_url,id
0,FBS (Division I-A Teams),American Athletic,Cincinnati,http://espn.go.com/ncf/teams/roster?teamId=2132,1
5,FBS (Division I-A Teams),American Athletic,Rutgers,http://espn.go.com/ncf/teams/roster?teamId=164,6
8,FBS (Division I-A Teams),American Athletic,Temple,http://espn.go.com/ncf/teams/roster?teamId=218,9

In [24]:
# Memanggil school name yang mengandung kata 'ford'
df[df['school_name'].str.contains('ford')]

,division,conference,school_name,roster_url,id
98,FBS (Division I-A Teams),Pac-12,Stanford,http://espn.go.com/ncf/teams/roster?teamId=24,99
231,FCS (Division I-AA Teams),Southern,Samford,http://espn.go.com/ncf/teams/roster?teamId=2535,232
233,FCS (Division I-AA Teams),Southern,Wofford,http://espn.go.com/ncf/teams/roster?teamId=2747,234

-----------------------------------------------------------------------------------------------------------

In [25]:
df

,division,conference,school_name,roster_url,id
0,FBS (Division I-A Teams),American Athletic,Cincinnati,http://espn.go.com/ncf/teams/roster?teamId=2132,1
1,FBS (Division I-A Teams),American Athletic,Connecticut,http://espn.go.com/ncf/teams/roster?teamId=41,2
2,FBS (Division I-A Teams),American Athletic,Houston,http://espn.go.com/ncf/teams/roster?teamId=248,3
3,FBS (Division I-A Teams),American Athletic,Louisville,http://espn.go.com/ncf/teams/roster?teamId=97,4
4,FBS (Division I-A Teams),American Athletic,Memphis,http://espn.go.com/ncf/teams/roster?teamId=235,5
...,...,...,...,...,...
247,FCS (Division I-AA Teams),SWAC,Jackson State,http://espn.go.com/ncf/teams/roster?teamId=2296,248
248,FCS (Division I-AA Teams),SWAC,Mississippi Valley State,http://espn.go.com/ncf/teams/roster?teamId=2400,249
249,FCS (Division I-AA Teams),SWAC,Prairie View A&M,http://espn.go.com/ncf/teams/roster?teamId=2504,250
250,FCS (Division I-AA Teams),SWAC,Southern University,http://espn.go.com/ncf/teams/roster?teamId=2582,251
251,FCS (Division I-AA Teams),SWAC,Texas Southern,http://espn.go.com/ncf/teams/roster?teamId=2640,252

In [ ]:
# Membuat column baru
df['new_column'] = df.id + 100
df

In [28]:
# Untuk membuat 1 row baru
new_row = {
  "division": "one",
  "conference": "meja bundar",
  "school": "binus",
  "roster_url":"www.google.com"
  }

df._append(new_row, ignore_index=True)

,division,conference,school_name,roster_url,id,new_column,school
0,FBS (Division I-A Teams),American Athletic,Cincinnati,http://espn.go.com/ncf/teams/roster?teamId=2132,1.0,101.0,NaN
1,FBS (Division I-A Teams),American Athletic,Connecticut,http://espn.go.com/ncf/teams/roster?teamId=41,2.0,102.0,NaN
2,FBS (Division I-A Teams),American Athletic,Houston,http://espn.go.com/ncf/teams/roster?teamId=248,3.0,103.0,NaN
3,FBS (Division I-A Teams),American Athletic,Louisville,http://espn.go.com/ncf/teams/roster?teamId=97,4.0,104.0,NaN
4,FBS (Division I-A Teams),American Athletic,Memphis,http://espn.go.com/ncf/teams/roster?teamId=235,5.0,105.0,NaN
...,...,...,...,...,...,...,...
248,FCS (Division I-AA Teams),SWAC,Mississippi Valley State,http://espn.go.com/ncf/teams/roster?teamId=2400,249.0,349.0,NaN
249,FCS (Division I-AA Teams),SWAC,Prairie View A&M,http://espn.go.com/ncf/teams/roster?teamId=2504,250.0,350.0,NaN
250,FCS (Division I-AA Teams),SWAC,Southern University,http://espn.go.com/ncf/teams/roster?teamId=2582,251.0,351.0,NaN
251,FCS (Division I-AA Teams),SWAC,Texas Southern,http://espn.go.com/ncf/teams/roster?teamId=2640,252.0,352.0,NaN
252,one,meja bundar,NaN,www.google.com,NaN,NaN,binus

In [ ]:
# Remove column
df.drop('new_column', axis=1, inplace=True) # HATI-HATI Merubah df di awal!!!!!!!!!

In [ ]:
# Keyword : del
del df['roster_url']

In [5]:
# Boolean indexing / filtering
df = df[df.school_name != "Memphis"]

In [ ]:
df.agg({
  "id":"sum",
  "new_column": "mean"
})

In [11]:
# Mencari mean dari masing-masing conference
df.groupby('conference')['new_column'].mean()

conference
ACC                  117.500000
American Athletic    105.555556
Big 12               129.500000
Big Sky              233.000000
Big South            242.500000
Big Ten              140.500000
CAA                  251.000000
Conference USA       153.500000
FBS Independents     164.000000
FCS Independents     259.000000
Ivy                  265.500000
MEAC                 275.000000
Mid-American         174.000000
Missouri Valley      285.500000
Mountain West        186.500000
Northeast            294.000000
Ohio Valley          302.000000
Pac-12               198.500000
Patriot League       310.000000
Pioneer              319.500000
SEC                  211.500000
SWAC                 347.500000
Southern             330.000000
Southland            338.500000
Sun Belt             222.500000
Name: new_column, dtype: float64